.titulo{
margin-top: 5%;
text-align: center;
}
.c{
margin-top: 5%;
text-align: center;
margin: 0px;
}
.tu{
text-align: center;

}
.for{
text-align: center;
margin-top: 8%;
margin-left: 0px;
}
.info{
margin-left: px;
background-color: #4bcac6;
padding: 10px;
border-radius: 5px;
color: white;

}
.cara{
margin-left: 0px;
margin-right: px;
}


.viu{
margin-top: 3%;
}
.vio{
margin-top: 3%;
}
.vie{
margin-top: 3%;
}
.iu{
margin-left: 00px;
}













